<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://unpkg.com/vue@3/dist/vue.global.js"></script>

<body>
    <div id="app">
        <h1>checkbox</h1>
        <p>{{value}}</p>
        <p>
            <input type="checkbox" v-model="value">
        <div id="hello" v-show="value">
            Welcome to my Vue.js
        </div>
        <div id="hello2" v-if="value">
            <!--  v-if의 경우 메모리를 건드림 / 자주쓰는건 show임  -->
            Welcome to my Vue.js
        </div>
        <hr>
        <input type="radio" v-model="visible" value="true">true
        <input type="radio" v-model="visible" value="false">false <br> <br>
        <input type="radio" v-bind:value="true" value="true">true
        <input type="radio" :value="false" value="false">false
        <div id="hello3" v-if="visible">
            Welcome to my Vue.js
        </div>
        <hr>
        <button type="button" v-on:click="show"> 보이기</button>
        <button type="button" @click="hide"> 감추기</button>
        <button type="button" v-on:click="show" v-show="visible"> 보이기</button>
        <hr>
        <button type="button" v-on:click="show" v-bind:disabled="visible"> 보이기</button>
        <button type="button" v-on:click="show" v-bind:disabled="!visible"> 감추기</button>



        </p>
    </div>
    </head>
</body>

<script>
    let app = {
        data() {
            return {
                value: false,
                visible: false

            }
        },
        methods: {
            show() {
                this.visible = true;
            },
            hide() {
                this.visible = false
            }
        }
    }
    Vue.createApp(app).mount("#app")

</script>

</html>