<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        .red-text {
            color: red;
        }

        .blue-text {
            color: blue
        }
    </style>
</head>

<body>
    <h2>주문</h2>
    <div id="app">
        수량 <input type="text" v-model="수량"> <br>
        가격 <input type="text" v-model="가격"> <br>
        합계1 <input type="text" v-model="total" v-bind:class="{'red-text':total>=10000}"><br>

        합계2 <input type="text" v-model="total" v-bind:style="{color:total>=5000?'blue':'gray'}"> <br>
        <hr>
        <h2>성명</h2>
        성 <input type="text" v-model="성"> <br>
        이름 <input type="text" v-model="이름">
        <hr>
        {{전체이름}}
        <hr>
        <h2>합계</h2>
        from <input type="text" v-model="from"> <br>
        to <input type="text" v-model="to"> <br>
        {{total2}}

    </div>
</body>

<script>
    let app = {
        data() {
            return {
                수량: 0,
                가격: 0,
                성: "",
                이름: "",
                from: 0,
                to: 0
            }
        },

        methods: {
            total2() {
                let from = Number(this.from);
                let to = Number(this.to);
                let sum = 0;
                for (let i = from; i <= to; i++) {
                    sum = sum + i;
                }
                return sum
            }
        },

        computed: {
            전체이름() {
                return this.성 + this.이름
            },
            total: {
                get() {
                    return this.수량 * this.가격
                }
            }
        }
    }
    Vue.createApp(app).mount("#app")

</script>

</html>